<div id="lucca-banner">
	<a href="#" class="homeButton bannerButton">
		<i class="lucca-icon">jumping_cc</i>
	</a>
	<div class="solutionsButton">
		<i class="lucca-icon">tiles_nine</i>
		<span>Solutions</span>
	</div>
	<a class="banner-right directoryButton bannerButton"></a>
	<a href="" class="settingsButton bannerButton">
		<i class="lucca-icon">settings</i>
	</a>
	<a href="" class="notificationsButton bannerButton">
		<span class="notificationsButton-number">0</span>
	</a>
	<a href="" class="userButton bannerButton">LA</a>
</div>